.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.active {
    color: gold;
    text-decoration: none;
    padding-left: 10px;
}
.inactive {
    color: white;
    text-decoration: none;
    padding-left: 10px;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}
.avatar img {
    width: 40px;
    border-radius: 50%;
}

